<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda del Papi</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <header class="header">
    <h1>🛒 Tienda del Papi</h1>

    <div id="cart-info">
      <a href="/carts/69d27b2bfe69bac31fdeb7da">
        🛒 Carrito: <span id="cart-count">0</span>
      </a>
    </div>
  </header>

  {{{body}}}

  <script src="/js/products.js"></script>

</body>
</html>